html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    -webkit-font-smoothing: antialiased;
}

body {
    padding: 50px;
    background: #f7b63f;
    color: #b5863e;
    font-family: 'Inconsolata', sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}

h1 {
    text-rendering: optimizeLegibility;
    font-size: 87px;
    font-family: 'Abril Fatface', cursive;
    font-weight: 400;
    letter-spacing: -3px;
    margin-bottom: 15px;
}

.divider::after {
    content: "";
    width: 100px;
    height: 2px;
    background: #c99433;
    display: block;
    position: relative;
    /*bottom: -5px;*/
}

a {
    color: #c99433;
    text-decoration: none;
    border-bottom: 2px solid #c99433;
    -webkit-transition: color 0.5s ease;
    transition: color 0.5s ease;
}

a:hover {
    color: #b5863e;
}

.microscope {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 15px;
    border-radius: 50%;
    background: #b5863e url('../images/microscope.svg') no-repeat;
    background-position: 42px 28px;
}